/* .header {
  height: 140px;
  background-color: skyblue;
} */
.site-topbar {
  height: 40px;
  background-color: #333;
  font-size: 12px;
  /* line-height: 40px; */
}
.site-topbar a {
  color: #b0b0b0;
  display: inline-block;
}
.site-topbar a:hover {
  color: #fff;
}
.topbar-nav > ul > li {
  float: left;
  margin-right: 15px;
  line-height: 40px;
}
.topbar-cart,
.topbar-info {
  float: right;
  height: 40px;
  line-height: 40px;
}
.topbar-info > a {
  margin-right: 13px;
}
.topbar-cart > a {
  /* display: block; */
  background-color: #424242;
  height: 40px;
  width: 120px;
  /* padding: 0 24px; */
  text-align: center;
}
.topbar-cart > a:hover {
  background-color: #fff;
  color: #ff6a00;
}
.topbar-cart > a > em {
  margin-right: 7px;
}

/* 箭头相对定位 */
.topbar-nav .submenu {
  position: relative;
  padding-right: 14px;
}
/* 小箭头 */
.topbar-nav .submenu::after {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  /* 箭头透明 */
  background-color: transparent;
  /* 箭头旋转45度 */
  transform: translateY(-4px) rotate(45deg);
  /* 鼠标触碰，箭头旋转动画 */
  transition: transform 0.3s ease 0s;
}

/* 定义鼠标触碰，箭头旋转动画 */
.topbar-nav .submenu:hover::after {
  transform: translateY(0) rotate(225deg);
  border-color: #fff;
}

/* 实心三角形 */
.topbar-nav .active::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  content: "";
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #fff;
  /* 默认隐藏 */
  display: none;
}
.topbar-nav .active:hover::before {
  display: block;
}

/* 云服务下拉列表 */
.submenu .submenu-list {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -52.5px;
  width: 105px;
  /* height: 150px; */
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  /* 默认隐藏 */
  height: 0;
  overflow: hidden;
  /* 动画 */
  transition: height 0.3s;
  z-index: 999;
}
/* 定义动画 */
.submenu:hover .submenu-list {
  height: 150px;
}
/* 鼠标触碰显示下拉列表 */
.submenu .submenu-list > ul > li {
  line-height: 30px;
}
.submenu .submenu-list > ul > li:hover > a {
  color: #ff6a00 ;
}
.submenu .submenu-list > ul > li img {
  margin: 0 4px 0 6px;
  vertical-align: -3px;
}

/* 下载app */
.appcode {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -62px;
  width: 124px;
  /* height: 148px; */
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 14px;
  /* 文字高度的一倍 */
  line-height: 1;  
  color: #333;
  /* 默认隐藏 */
  height: 0;
  overflow: hidden;
  /* 动画 */
  transition: height 0.3s;
  z-index: 999;
}
.submenu:hover .appcode {
  height: 148px;
}
.appcode > img {
  display: block;
  margin: 17px auto 16px;
}

/* 购物车菜单相对定位 */
.topbar-cart {
  position: relative;
  /* float: right; */
}
/* 购物车菜单 */
.site-topbar .topbar-cart .cart-menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 316px;
  /* height: 50px;
  padding: 25px 0; */
  background-color: #fff;
  box-shadow: 0px 7px 10px 0px rgb(0 0 0 / 10%);
  text-align: center;
  /* 默认隐藏掉 */
  height: 0;
  padding: 0;
  overflow: hidden;
  /* 动画 */
  transition: height 0.3s, padding 0.3s;
  color: #333;
  z-index: 999;
}

/* 鼠标触碰，显示购物车菜单列表 */
.site-topbar .topbar-cart:hover .cart-menu {
  height: 50px;
  padding: 25px 0;
}

/* site-header start */
.site-header .header-logo {
  float: left;
  margin-top: 23px;
}
.site-header .header-logo > a:active img {
  /* logo缩小 0.9 */
  transform: scale(0.6);
}
.site-header .header-nav {
  float: left;
  margin-left: 194px;
}
.site-header .header-nav > ul > li {
  float: left;
  padding: 42px 10px;
}
.site-header .header-nav .nav-list > li > a {
  font-size: 16px;
  color: #333;
}
.site-header .header-nav .nav-list > li > a:hover {
  color: #ff6700;
}
/* 搜索框 */
.site-header .header-search {
  float: right;
  width: 297px;
  /* background-color: gold; */
  margin-top: 25px;
}
/* .site-header .header-search .search-text { */
.search-text {
  width: 245px;
  height: 50px;
  border: 1px solid #e0e0e0;
  border-right: none;
  font-size: 14px;
  color: #333;
  line-height: 50px;
  padding: 0 11px;
  box-sizing: border-box;
  float: left;
}
/* .site-header .header-search .search-btn { */
.search-btn {
  display: block;
  width: 52px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  float: left;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
}
/* .site-header .header-search .search-btn:hover { */
.search-btn:hover {
  background-color: #ff6a00;
  color: #fff;
  border-color: #ff6a00;
}
/* 当鼠板触碰到，整体的边框颜色变化 */
.header-search:hover .search-text,
.header-search:hover .search-btn {
  border-color: #9d9999;
}
/* 点击鼠标点击获取焦点时，边框样式停留 */
.header-search .search-text:focus,
.header-search .search-text:focus + .search-btn {
  border-color: #ff6700;
}
/* end site-header */

/* main start */
/* focus-slider start */
.focus-slider {
  position: relative;
}
/* 分类导航 */
.focus-slider .category {
  position: absolute;
  /* 默认在定点，但还是要写上 */
  top: 0;
  left: 0;
  width: 234px;
  height: 460px;
  background-color: rgba(105, 101, 101, 0.6);
  padding-top: 19px;
  box-sizing: border-box;
  /* 底部轮播图圆点的层级z-index:10,这个要比它大，不然圆点会显示在手机电视浮动现在的块上面 */
  z-index: 11;
}
.focus-slider .category > ul > li {
  line-height: 42px;
}
.category > ul > li > a {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 0 23px 0 30px;
}
.category > ul > li > a:hover {
  background-color: #ff6a00;
}
.category > ul > li > a  > em {
  float: right;
}
.category-list {
  position: absolute;
  top: 0;
  left: 234px;
  width: 992px;
  height: 460px;
  background-color: skyblue;
  /* 默认隐藏 */
  display: none;
  text-align: center;
  font-size: 40px;
  line-height: 460px;
}
.category > ul > li:hover .category-list {
  display: block;
}
/* 轮播图 */
.focus-slider .swiper {
  width: 1226px;
  height: 460px;
  background-color: gold;
}
/* 上一个 */
.swiper-button-prev {
  left: 244px;
  background-position: -84px 0;
}
.swiper-button-prev:hover {
  background-position: 0 0;
}
.swiper-button-next {
  background-position: -125px 0;
}
.swiper-button-next:hover {
  background-position: -42px 0;
}
.swiper-button {
  width: 41px;
  height: 69px;
  /* 把轮播图自带的左右箭头透明隐藏 */
  color: transparent;
  /* 换成自己左右箭头精灵图 */
  background-image: url(../images/slides.png);
}
/* 小点点 */
.swiper-pagination {
  text-align: right;
  padding-right: 34px;
  box-sizing: border-box;
}
.swiper-container-horizontal > .swiper-pagination-button,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 11.5px;
}
/* 未选中的小点点 */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #dcdcdc;
  border-radius: 50%;
}
/* 选中的小点点 */
.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background: #666;
  border: 2px solid #4D4D4D;
  border-radius: 50%;
}
/* end focus-slider */

/* recommend start  */
.recommend {
  width: 100%;
  height: 624px;
  background-color: #f7f7f7;
  margin: 26px 0 34px 0;
  /* margin塌陷或穿透解决办法 */
  overflow: hidden;
  padding-bottom: 36px;
}
.recommend .index-banner {
  width: 1226px;
  height: 120px;
  margin: 26px auto 48px;
}
.music-con .m-title {
  text-align: center;
  font-size: 32px;
  color: #333;
}
.music-con .m-tab {
  text-align: center;
  padding: 34px 0 36px 0;
}
.music-con .m-tab a {
  font-size: 16px;
  color: #333;
  margin: 0 23px;
}
.music-con .m-tab a.active {
  color: #31c27c;
}
.music-item  .music-list > li {
  float: left;
  width: 224px;
  margin-right: 26px;
}
.music-item  .music-list > li:last-child {
  margin-right: 0;
}
.music-item  .music-list > li > a {
  position: relative;
  width: 224px;
  height: 224px;
  display: block;
  /* 图片放大溢出隐藏 */
  overflow: hidden;
}
.music-list-title {
  margin: 14px 0 6px 0;
  font-size: 14px;
}
.music-list-title > a {
  color: #333;
}
.music-list-title > a:hover {
  color: #31c27c;
}
.music-item  .music-list  li span {
  color: #999;
}
/* 阴影效果 */
.img-mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 224px;
  height: 224px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color ease 0.5s;
  z-index: 0;
}
.music-list > li > a:hover .img-mask {
  background-color: rgba(0,0,0,0.3);
}
/* 播放按钮 */
.m-icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32.5px 0 0 -32.5px;
  display: block;
  width: 65px;
  height: 65px;
  background-image: url(../images/m-play.png);
  z-index: 1;
  /* 透明度 */
  opacity: 0;
  /* 先缩小 */
  transform: scale(0.2);
  /* 动画缩小*/
  transition: transform ease 0.5s;
}
.music-list > li > a:hover .m-icon-play {
  /* 动画放大 */
  transform: scale(1);
  opacity: 1;
}
/* 图片放大 */
.music-list > li > a > img {
  transition: transform ease 0.5s;
}
.music-list > li > a:hover img {
  transform: scale(1.5);
}
/* 歌单推荐菜单切换 */
.music-item .music-list {
  display: none;
}
.music-item ul.current {
  display: block;
}
/* end recommend */

/* playground start */
.header-title {
  float: left;
  width: 826px;
}
.header-title h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}
.more-products {
  float: right;
}
.more-products a {
  display: block;
  width: 118px;
  height: 42px;
  color: #000;
  border: 1px solid #bababa;
  border-radius: 20px;
  line-height: 42px;
  text-align: center;
  margin-top: 12px;
}
.more-products a:hover {
  border-color: #000;
}
.playground-con {
  margin: 33px 0 40px 0;
}
.playground-con .con-l {
  width: 610px;
  height: 715px;
  float: left;
  background-image: url(../images/playground-1.png);
  background-size: cover;
}
.con-m,
.con-r {
  width: 295px;
  height: 715px;
  float: left;
}
.con-m-1 {
  position: relative;
  width: 295px;
  height: 295px;
  background-image: url(../images/playground-2.png);
  background-size: cover;
}
.con-m-2 {
  position: relative;
  width: 295px;
  height: 400px;
  background-image: url(../images/playground-3.png);
  background-size: cover;
}
.con-r-1 {
  width: 295px;
  height: 400px;
  background-image: url(../images/playground-5.png);
  background-size: cover;
}
.con-r-2 {
  width: 295px;
  height: 295px;
  background-image: url(../images/playground-4.png);
  background-size: cover;
}
.con-l,
.con-m {
  margin-right: 13px;
}
.con-m-1,
.con-r-1 {
  margin-bottom: 20px;
}

.con-l {
  position: relative;
}
/* 小圆点的位置 */
.dot {
  position: absolute;
  /* display: block; */
  /* 小圆点默认隐藏 */
  display: none;
  /* width: 32px; */
  width: 42px;
  height: 32px;
  /* border: 1px solid #000; */
  color: #000;
}
.dot-1 {
  top: 249px;
  left: 248px;
}
.dot-2 {
  top: 359px;
  left: 128px;
}
.dot-3 {
  top: 460px;
  left: 71px;
}
.dot-4 {
  top: 152px;
  left: 52px;
}
.dot-5 {
  top: 284px;
  left: 80px;
}
/* 外圈圆 */
.dot::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: transform ease 0.5s;
}
.dot:hover::before {
  transform: scale(0.9);
  box-shadow: 0 0 5px #fff;
}
/* 内圈圆 */
.dot::after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform ease 0.5s;
}
.dot:hover::after {
  transform: scale(0.7);
}

.dot-tips {
  position: absolute;
  top: -30px;
  left: 40px;
  width: 130px;
  background-color: #fff;
  padding: 10px;
  display: none;
}
.dot-tips span {
  font-size: 24px;
  font-weight: bold;
}
.dot-tips span i {
  font-size: 12px;
}
.dot:hover .dot-tips {
  display: block;
}
/* 所有的小圆点默认都是隐藏的，鼠标触碰时，显示 */
.con-l:hover a,
.con-m-1:hover a,
.con-m-2:hover a {
  display: block;
}
/* end playground */

/* videos start */
.videos {
  background-color: #F8F8F8;
  /* 形成BFC，margin不会塌陷 */
  overflow: hidden;
  padding-bottom: 28px;
}
.videos h2 {
  font-size: 28px;
  text-align: center;
  color: #000;
  margin: 33px 0;
}
.videos ul li {
  float: left;
  margin-right: 6px;
  margin-bottom: 10px;
}
.videos ul li:nth-child(4n) {
  margin-right: 0;
}
.videos ul li a {
  position: relative;
  display: block;
  /* background-color: skyblue; */
  color: #000;
  font-size: 16px;
  transition: box-shadow ease 0.5s;
}
.videos ul li a:hover {
  box-shadow: 5px 5px 10px #ddd;
}
.videos ul li a img {
  /* 图片下面默认有一像素，加上这个就没有了 */
  display: block;
}
.videos ul li p {
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: #fff;
}
/* 视频播放按钮 */
.video-play {
  position: absolute;
  top: 145px;
  right: 13px;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/video-play.png);
  background-size: cover;
}
/* end videos */

/* mall start */
.mall h2 {
  position: relative;
  font-size: 34px;
  color: #000;
  text-align: center;
  margin: 36px 0 44px 0;
}
.mall h2::after {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -12px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #c7000b;
}
.mall ul li {
  position: relative;
  float: left;
  margin-right: 13px;
  margin-bottom: 30px;
  overflow: hidden;
}
.mall ul li:nth-child(3n) {
  margin-right: 0;
}
.mall ul li a {
  color: #fff;
  display: block;
}
.mall-info {
  position: absolute;
  left: 20px;
  bottom: -25px;
  z-index: 1;
  /* 了解更多向上滑动 */ 
  transition: bottom ease 0.5s;
}
/* 了解更多向上滑动显示距离 */
.mall ul li a:hover .mall-info {
  bottom: 40px;
}

.mall-title {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0 8px 0;
}
.mall-more span {
  display: inline-block;
  font-size: 16px;
  padding-top: 18px;
}
.mall-more i {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
/* 产品信息动画 */


/* 阴影 */
.mall-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  opacity: 0;
  transition: opacity ease 1s;
}
.mall ul li a:hover .mall-shadow {
  opacity: 0.5;
}
/* 图片放大 */
.mall ul li a img {
  /* 解决图片多出一像素问题 */
  display: block;
  /* 图片缓慢放大缩小 */
  transition: transform ease 0.5s;
}
.mall ul li a:hover img {
  transform: scale(1.5);
}
/* 更多 - 箭头 */
.mall-more i {
  transition: margin-left ease 0.5s;
}
.mall-more:hover i {
  margin-left: 10px;
}
/* end start */

/* accordion start */
.accordion {
  background-color: #f8f8f8;
  /* 解决子元素的margin穿透 */
  overflow: hidden;
  padding-bottom: 40px;
}
.accordion h2 {
  text-align: center;
  margin: 51px 0 44px 0;
}
.accordion ul li {
  float: left;
  width: 172px;
  height: 270px;
  overflow: hidden;
  transition: width ease 0.5s;
}
.accordion ul li.active {
  width: 361px;
}
.accordion ul li a {
  position: relative;
  display: block;
  font-size: 16px;
  color: #fff;
}
/* 解决图片下面多一像素问题 */
.accordion ul li img {
  display: block;
}
.accordion ul li h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 75px; */
  height: 0;
  line-height: 75px;
  font-weight: 400;
  font-size: 16px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0),
    rgba(0,0,0,0.4) 90%,
    rgba(0,0,0,0));
  /* 文字首行缩进 */
  text-indent: 1em;
  transition: height ease 0.5s;
}
.accordion ul li a:hover h3 {
  height: 75px;
}
/* end accordion */

/* site-footer start */
.footer-service {
  padding: 31px 0;
  border-bottom: 1px solid #e0e0e0;
  /* background-color: skyblue; */
}
.footer-service ul li {
  float: left;
  width: 19.8%;
  text-align: center;
  border-left: 1px solid #e0e0e0;
}
.footer-service ul li i {
  font-size: 24px;
  /* 图片和文字居中对齐，微调 */
  vertical-align: -2px;
}
.footer-service ul li  a {
  font-size: 16px;
  font-weight: bold;
  color: #616161;
}
.footer-service ul li:first-child {
  border: none;
}

.footer-links {
  padding: 40px 0;
}
.footer-links dl {
  float: left;
  width: 160px;
}
.footer-links dl:first-child {
  margin-left: 160px;
}
.footer-links dl dt {
  font-size: 14px;
  font-weight: bold;
  color: #424242;
  margin-bottom: 31px;
}
.footer-links dl dd {
  margin: 10px 0 0;
  font-size: 12px;
}
.footer-links dl dd a {
  font-size: 12px;
  color: #757575;
}
.footer-links dl dd a:hover {
  color: #ff6700;
}

.telephone {
  float: right;
  width: 251px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
  margin-top: 42px;
}
.telephone p {
  margin-bottom: 5px;
  font-size: 12px;
}
.telephone p.phone {
  font-size: 22px;
  color: #ff6700;
  font-weight: bold;
  line-height: 1;
}
.telephone p span {
  color: #ff6700;
}
.telephone a {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff6700;
  color: #ff6700;
  transition: background-color ease 1s;
}
.telephone a em {
  font-size: 12px;
}
.telephone a:hover {
  background-color: #ff6700;
  color: #fff;
}

.copyright {
  text-align: center;
  padding-bottom: 55px;
}
/* end site-footer */




/* end main */



/* v-mask start */
.v-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  /* 视频默认隐藏 */
  display: none;
}
.v-mask .mask-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mask-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 20px;
}
.mask-close:hover {
  background-color: #fff;
}
/* end start */




/* sidebar start */
.sidebar {
  width: 85px;
  /* height: 500px; */
  /* background-color: #fff; */
  position: fixed;
  right: 20px;
  bottom: 100px;
}
.sidebar ul {
  border: 1px solid red;
}
.sidebar ul li {
  /* border: 1px solid #000; */
  width: 85px;
  height: 85px;
  background-color: #fff;
}
.sidebar ul li:last-child {
  margin-top: 20px;
}
.sidebar ul li span {
  width: 85px;
  height: 50px;
  background-color: aquamarine;
  display: block;
}
/* end start */